/*styles go here*/

h1, h2, ul, li, img, p, a{
  text-align: center;
  text-decoration: none;
}

p {
  color: #214000;
}

img{
  border-style: none;
}

body{
  background-color: lavender;
}

h1 {
  color: #5A597D;
font-family: 'Cookie', cursive, 'Playfair Display', serif, 'Times New Roman' serif;
}

h2 {
  color: #459880;
  font-family: 'Arimo', sans-serif, 'Asap', sans-serif;
}

ul {
  color: grey;
  font-family: 'Times New Roman' serif;
  text-decoration: none;
}

li {
  color: #5A597D;
  font-family: Georgia, 'Times New Roman' serif;
  text-decoration: none;
}
