/*styles go here*/

p {
  color: #214000;
  text-align: center;
  font-family: 'Asap', Helvetica, sans-serif;
  font-weight: 400
}

body {
  background-color: lavender;
}

h1 {
  text-align:center;
  color: #5A597D;
font-family: 'Hepta Slab', Georgia, serif;
font-style: italic;
font-weight: bold;
}

h2 {
  text-align: center;
  color: #459880;
  font-family: 'Oswald', Helvetica, sans-serif;

}

#nav {
  padding: 0;
  list-style-type:none;
}

#nav li{
  padding: 0;
  border-bottom: 1px solid #ccc;
}

#nav a:link, a:visited {
display:block;
color: #fff;
background-color: #854DFF;
font-family: 'Cabin', Georgia, sans-serif;
font-weight:bold;
text-align: center;
text-decoration: none;
padding: 4px;
}

#nav a:hover, a:visited {
background-color: #6300BF
}


img {
  border: none;
}
