/*styles go here*/

p {
  color: #214000;
}

body{
  background-color: lavender;
}

h1 {
  color: #5A597D;
font-family: "Cookie", "Playfair Display", "Times New Roman", serif;
}

h2 {
  color: #459880;
  font-family: "Arimo", "Asap", sans-serif;
}

ul {
  color: grey;
  font-family: 'Times New Roman' serif;
  text-decoration: none;
}

li {
  color: #5A597D;
  font-family: Georgia, 'Times New Roman' serif;
  text-decoration: none;
}

#nav {
  padding: 0;
  list-style-type: none;
}
